{% block body %}
    <div class="col-3 mt-3 px-3 pt-3">
        <div class="card align-middle w-100"
            <a href="{{ url('product',{'product':product.id}) }}"><img class="card-img-top" src="{{ asset('images/' ~ product.images) }}" alt="{{ product.name }}"></a>
            <div class="card-body text-center">
                <h4 class="card-title">{{ product.name }}</h4>
                <p>Vandut de:&nbsp;{{ product.vendor }}</p>
                <h5>{{ product.price }}<span>Lei</span></h5>
                <p><span>Discount</span>&nbsp;({{ product.discount }}%)</p>
                <a href="#" class="btn btn-primary w-100 mt-4 fa fa-shopping-cart">Adauga in cos</a>
            </div>
        </div>
    </div>
{% endblock %}
